:root {
    --primary-cyan: hsl(180, 66%, 49%);
    --primary-dark-violet: hsl(257, 27%, 26%);
    --white: #fff;
    --secondary:  hsl(0, 87%, 67%);
    --gray: hsl(0, 0%, 75%);
    --grayish-violet: hsl(257, 7%, 63%);
    --very-dark-blue: hsl(255, 11%, 22%);
    --very-dark-violet: hsl(260,8% ,14%);

    --ff-serif: 'Poppins', sans-serif;

    --fs-900: 9.375rem; 
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    
    
}

body {
    min-height: 100vh;
    line-height: 1.6;
    font-family: var(--ff-serif);
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
p,
figure,
picture {
    margin: 0;
}

ul,
li {
    list-style: none;
    text-decoration: none;
}

img,
picture {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

.container {
    padding: 2em 1.5em;
    margin: 0 auto;
}

.text-grey {
    color: var(--gray);
}

.text-white {
    color: var(--white) ;
}

.fw-500 {
    font-weight: 500;
}
.fw-700 {
    font-weight: 700;
}

/* navigation */
.logo {
    top: 2em;
    left: 2em;
    position: relative;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 2em;
    right: 1em;
}

/* mobile navigation */

.mob-nav {
    display: none;
    margin-top: -12em;
    margin-left: auto;
    margin-right: auto;
    background: var(--primary-dark-violet);
    border-radius: 10px;
    font-weight: 700;
    height: 350px;
    width: 85%;
    z-index: 5;
}

.nav_list {
    margin: 1em 0 0 ;
    text-align: center;
    height: 100%;
}

.nav_link {
    padding: 1.5em 0 1em;
    color: var(--white);
}

.hr {
    border-top: 1px solid var(--gray);
    width: 80%;
    margin: 0 auto;
}

/* ----- */

/* buttons */

.mob_btn {
    background-color: var(--primary-cyan);
    border: none;
    border-radius: 30px;
    font-weight: 700;
    color: var(--white);
    padding: 15px 100px;
}

.hero_btn {
    border: none;
    border-radius: 30px;
    background-color: var(--primary-cyan);
    color: var(--white);
    padding: 15px 45px;
    font-weight: 700;
}

.form_btn {
    border: none;
    border-radius: 10px;
    background-color: var(--primary-cyan);
    color: var(--white);
    padding: 15px 95px;
    font-weight: 700;
}

/* hero section */

img.hero__mob {
    position: relative;
    width: 88%;
    top: 5em;
    left: 3em;
    z-index: -1;
}

.hero__img {
    display: none;
}

.hero {
    text-align: center;
}

.hero_title {
    margin: 3em auto .5em ;
    text-align: center;
    width: 80%;
}

.hero_p {
    margin: 0 0 1.5em;
}

/* main area */
.form_container {
    margin: 0 auto;
    text-align: center;
   
}

.bg_form {
   margin: 2em auto;
   border-radius: 10px;
   background-color: var(--primary-dark-violet);
   padding: 1em;
}

input {
    border-radius: 10px;
    border: 2px solid var(--gray);
    margin: 0 0 1em;
    height: 55px;
    width: 275px;
}